---
import { IAboutSectionProps } from "@types";
import { info } from "@data";
---

<p class="dark:text-light text-lg mb-16">
  a Product Manager based in Munich with more than 5 years of working experience
  in the industry. While I being in charge of numerous IT-projects covering
  Front-End, Back-End and Native Apps, I recently developed a strong interesed
  in Crypto, NFT and Blockchain technology. As a Product Manager, I’ve always
  been interested in staying up to date with the latest and greatest
  technologies. However, I’ve never had the desire or time to dive deep into
  coding. That’s why I’ve decided to start this blog called <a
    href={info.blogUrl}>nft-hypebeast.com</a
  > to document my progress as I learn how to code and explore the world of Crypto,
  NFTs and Blockchain
</p>
